* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// font-family: 'Comfortaa', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
	background-color: #222;
}

.counter-box {
	min-width: 300px;
	max-width: 1600px;
	display: grid;
	grid-template-rows: repeat(2, auto);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 15px black;
}

.hero {
	position: relative;
	overflow: hidden;

	.settings-btn {
		position: absolute;
		top: 20px;
		right: 30px;
		width: 40px;
		height: 40px;
		border: none;
		border-radius: 5px;
		background-color: #fff;
		cursor: pointer;
		z-index: 20;
		&:hover {
			background-color: #222;
		}
	}

	&_img {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		background-color: #333;
		z-index: 10;
	}
	.settings-box {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		align-items: center;
		padding: 2em;
		color: #000000;
		transition: background 1s, backdrop-filter 1s;

		.settings-heading {
			grid-row: 1/2;
		}

		.settings-items {
			grid-column: 1/3;
			display: flex;
			flex-direction: column;

			input {
				margin: 5px 0px 20px 0;
				padding: 5px 15px;
				border-radius: 5px;
				border: none;
			}

			.save-event-btn {
				width: fit-content;
				padding: 10px 20px;
			}
		}
	}
}

.index-change {
	z-index: -10;
}

.filters {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
}

.counter {
	// opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em clamp(0.1em, 3vw, 2em);
	background-color: #fff;
	// border: 1px solid black;
	// box-shadow: 0 0 10px black;

	.counter_heading {
		margin-bottom: 1em;
	}
	.time {
		display: grid;
		gap: clamp(0.2em, 2.5vw, 3em);
		grid-template-columns: repeat(4, 1fr);
		.box {
			padding: clamp(1em, 3vw, 2em) clamp(0.1em, 2vw, 1em);
			text-align: center;
			border: 1px solid black;
			border-radius: 15px;
			width: clamp(4rem, 20vw, 8rem);
			// aspect-ratio: 1/1;
			.count {
				font-size: clamp(1.2rem, 5vw, 3rem);
			}
		}
	}
}
